openapi: 3.2.0
info:
  title: AWS Cost Explorer Recommendations API
  description: The AWS Cost Explorer API provides programmatic access to AWS cost and usage data. Query, filter, group, and aggregate cost data, generate forecasts, detect anomalies, and get rightsizing and Savings Plans recommendations.
  version: '2017-10-25'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
servers:
- url: https://ce.us-east-1.amazonaws.com
  description: AWS Cost Explorer (Global endpoint via us-east-1)
security:
- aws_iam: []
tags:
- name: Recommendations
  description: Cost optimization recommendations
paths:
  /GetRightsizingRecommendation:
    post:
      operationId: GetRightsizingRecommendation
      summary: Get Rightsizing Recommendation
      description: Creates recommendations that help you save cost by identifying idle and underutilized Amazon EC2 instances.
      tags:
      - Recommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRightsizingRecommendationRequest'
      responses:
        '200':
          description: Rightsizing recommendations returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRightsizingRecommendationResponse'
        '400':
          $ref: '#/components/responses/InvalidNextTokenException'
  /GetSavingsPlansPurchaseRecommendation:
    post:
      operationId: GetSavingsPlansPurchaseRecommendation
      summary: Get Savings Plans Purchase Recommendation
      description: Retrieves the Savings Plans recommendations for your account.
      tags:
      - Recommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                SavingsPlansType:
                  type: string
                TermInYears:
                  type: string
                PaymentOption:
                  type: string
                LookbackPeriodInDays:
                  type: string
      responses:
        '200':
          description: Savings Plans recommendations returned
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/LimitExceededException'
  /GetReservationPurchaseRecommendation:
    post:
      operationId: GetReservationPurchaseRecommendation
      summary: Get Reservation Purchase Recommendation
      description: Gets recommendations for Reserved Instance purchases based on usage patterns.
      tags:
      - Recommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Service:
                  type: string
                TermInYears:
                  type: string
                PaymentOption:
                  type: string
                LookbackPeriodInDays:
                  type: string
      responses:
        '200':
          description: Reservation purchase recommendations returned
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/LimitExceededException'
components:
  schemas:
    Expression:
      type: object
      description: Filter expression to apply to cost and usage data. Can filter by dimensions, tags, or cost categories.
      properties:
        Dimensions:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        Tags:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        And:
          type: array
          items:
            type: object
        Or:
          type: array
          items:
            type: object
        Not:
          type: object
    GetRightsizingRecommendationResponse:
      type: object
      properties:
        Metadata:
          type: object
        Summary:
          type: object
        RightsizingRecommendations:
          type: array
          items:
            type: object
        NextPageToken:
          type: string
    ErrorResponse:
      type: object
      properties:
        Message:
          type: string
        Code:
          type: string
    GetRightsizingRecommendationRequest:
      type: object
      required:
      - Service
      properties:
        Filter:
          $ref: '#/components/schemas/Expression'
        Configuration:
          type: object
          properties:
            RecommendationTarget:
              type: string
              enum:
              - SAME_INSTANCE_FAMILY
              - CROSS_INSTANCE_FAMILY
            BenefitsConsidered:
              type: boolean
        Service:
          type: string
          description: The specific service that you want recommendations for (e.g., AmazonEC2)
        PageSize:
          type: integer
        NextPageToken:
          type: string
  responses:
    InvalidNextTokenException:
      description: The pagination token is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    LimitExceededException:
      description: You've exceeded the limit for this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
externalDocs:
  description: AWS Cost Explorer API Reference
  url: https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/
