openapi: 3.2.0
info:
  title: AWS Cost Explorer Forecasting API
  description: The AWS Cost Explorer API provides programmatic access to AWS cost and usage data. Query, filter, group, and aggregate cost data, generate forecasts, detect anomalies, and get rightsizing and Savings Plans recommendations.
  version: '2017-10-25'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
servers:
- url: https://ce.us-east-1.amazonaws.com
  description: AWS Cost Explorer (Global endpoint via us-east-1)
security:
- aws_iam: []
tags:
- name: Forecasting
  description: Generate cost and usage forecasts
paths:
  /GetCostForecast:
    post:
      operationId: GetCostForecast
      summary: Get Cost Forecast
      description: Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs.
      tags:
      - Forecasting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCostForecastRequest'
      responses:
        '200':
          description: Cost forecast returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCostForecastResponse'
        '400':
          $ref: '#/components/responses/DataUnavailableException'
  /GetUsageForecast:
    post:
      operationId: GetUsageForecast
      summary: Get Usage Forecast
      description: Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select.
      tags:
      - Forecasting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsageForecastRequest'
      responses:
        '200':
          description: Usage forecast returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCostForecastResponse'
        '400':
          $ref: '#/components/responses/DataUnavailableException'
components:
  schemas:
    Expression:
      type: object
      description: Filter expression to apply to cost and usage data. Can filter by dimensions, tags, or cost categories.
      properties:
        Dimensions:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        Tags:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        And:
          type: array
          items:
            type: object
        Or:
          type: array
          items:
            type: object
        Not:
          type: object
    ErrorResponse:
      type: object
      properties:
        Message:
          type: string
        Code:
          type: string
    DateInterval:
      type: object
      required:
      - Start
      - End
      properties:
        Start:
          type: string
          description: Start of the time period in YYYY-MM-DD format
          example: '2026-01-01'
        End:
          type: string
          description: End of the time period in YYYY-MM-DD format
          example: '2026-04-01'
    GetCostForecastRequest:
      type: object
      required:
      - TimePeriod
      - Metric
      - Granularity
      properties:
        TimePeriod:
          $ref: '#/components/schemas/DateInterval'
        Metric:
          type: string
          enum:
          - AMORTIZED_COST
          - BLENDED_COST
          - NET_AMORTIZED_COST
          - NET_UNBLENDED_COST
          - UNBLENDED_COST
        Granularity:
          type: string
          enum:
          - DAILY
          - MONTHLY
        Filter:
          $ref: '#/components/schemas/Expression'
        PredictionIntervalLevel:
          type: integer
          minimum: 51
          maximum: 99
    GetCostForecastResponse:
      type: object
      properties:
        Total:
          type: object
          properties:
            Amount:
              type: string
            Unit:
              type: string
        ForecastResultsByTime:
          type: array
          items:
            type: object
    GetUsageForecastRequest:
      type: object
      required:
      - TimePeriod
      - Metric
      - Granularity
      properties:
        TimePeriod:
          $ref: '#/components/schemas/DateInterval'
        Metric:
          type: string
        Granularity:
          type: string
        Filter:
          $ref: '#/components/schemas/Expression'
  responses:
    DataUnavailableException:
      description: The requested data is unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
externalDocs:
  description: AWS Cost Explorer API Reference
  url: https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/
