openapi: 3.2.0
info:
  title: AWS Cost Explorer Tags API
  description: The AWS Cost Explorer API provides programmatic access to AWS cost and usage data. Query, filter, group, and aggregate cost data, generate forecasts, detect anomalies, and get rightsizing and Savings Plans recommendations.
  version: '2017-10-25'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
servers:
- url: https://ce.us-east-1.amazonaws.com
  description: AWS Cost Explorer (Global endpoint via us-east-1)
security:
- aws_iam: []
tags:
- name: Tags
  description: Manage cost allocation tags
paths:
  /ListCostAllocationTags:
    post:
      operationId: ListCostAllocationTags
      summary: List Cost Allocation Tags
      description: Get a list of cost allocation tags. For a list of cost allocation tag types, see Tag types in the AWS Billing and Cost Management User Guide.
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Status:
                  type: string
                TagKeys:
                  type: array
                  items:
                    type: string
                MaxResults:
                  type: integer
                NextToken:
                  type: string
      responses:
        '200':
          description: Cost allocation tags returned
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/LimitExceededException'
  /GetTags:
    post:
      operationId: GetTags
      summary: Get Tags
      description: Queries for available tag keys and tag values for a specified period. You can search the tag values via the Filter parameter or that pertain to a specific tag key by using the TagKey parameter.
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TimePeriod:
                  $ref: '#/components/schemas/DateInterval'
                TagKey:
                  type: string
                SearchString:
                  type: string
      responses:
        '200':
          description: Tags returned
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/DataUnavailableException'
components:
  responses:
    DataUnavailableException:
      description: The requested data is unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    LimitExceededException:
      description: You've exceeded the limit for this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        Message:
          type: string
        Code:
          type: string
    DateInterval:
      type: object
      required:
      - Start
      - End
      properties:
        Start:
          type: string
          description: Start of the time period in YYYY-MM-DD format
          example: '2026-01-01'
        End:
          type: string
          description: End of the time period in YYYY-MM-DD format
          example: '2026-04-01'
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
externalDocs:
  description: AWS Cost Explorer API Reference
  url: https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/
