openapi: 3.2.0
info:
  title: AWS Cost Explorer Anomaly Detection API
  description: The AWS Cost Explorer API provides programmatic access to AWS cost and usage data. Query, filter, group, and aggregate cost data, generate forecasts, detect anomalies, and get rightsizing and Savings Plans recommendations.
  version: '2017-10-25'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
servers:
- url: https://ce.us-east-1.amazonaws.com
  description: AWS Cost Explorer (Global endpoint via us-east-1)
security:
- aws_iam: []
tags:
- name: Anomaly Detection
  description: Detect and manage cost anomalies
paths:
  /CreateAnomalyMonitor:
    post:
      operationId: CreateAnomalyMonitor
      summary: Create Anomaly Monitor
      description: Creates a new cost anomaly detection monitor with the requested type and monitor specification.
      tags:
      - Anomaly Detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnomalyMonitorRequest'
      responses:
        '200':
          description: Anomaly monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnomalyMonitorResponse'
        '400':
          $ref: '#/components/responses/LimitExceededException'
  /GetAnomalies:
    post:
      operationId: GetAnomalies
      summary: Get Anomalies
      description: Retrieves all of the cost anomalies detected on your account during the time period that's specified in the DateInterval object.
      tags:
      - Anomaly Detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAnomaliesRequest'
      responses:
        '200':
          description: Anomalies returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnomaliesResponse'
        '400':
          $ref: '#/components/responses/LimitExceededException'
  /CreateAnomalySubscription:
    post:
      operationId: CreateAnomalySubscription
      summary: Create Anomaly Subscription
      description: Adds an alert subscription to a cost anomaly detection monitor. You can use each subscription to define subscribers with email or SNS targets and a frequency for anomaly notifications.
      tags:
      - Anomaly Detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnomalySubscriptionRequest'
      responses:
        '200':
          description: Anomaly subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnomalySubscriptionResponse'
        '400':
          $ref: '#/components/responses/LimitExceededException'
components:
  schemas:
    Expression:
      type: object
      description: Filter expression to apply to cost and usage data. Can filter by dimensions, tags, or cost categories.
      properties:
        Dimensions:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        Tags:
          type: object
          properties:
            Key:
              type: string
            Values:
              type: array
              items:
                type: string
        And:
          type: array
          items:
            type: object
        Or:
          type: array
          items:
            type: object
        Not:
          type: object
    ErrorResponse:
      type: object
      properties:
        Message:
          type: string
        Code:
          type: string
    CreateAnomalySubscriptionRequest:
      type: object
      required:
      - AnomalySubscription
      properties:
        AnomalySubscription:
          type: object
          required:
          - MonitorArnList
          - Subscribers
          - Frequency
          - SubscriptionName
          properties:
            MonitorArnList:
              type: array
              items:
                type: string
            Subscribers:
              type: array
              items:
                type: object
                properties:
                  Address:
                    type: string
                  Type:
                    type: string
                    enum:
                    - EMAIL
                    - SNS
            Threshold:
              type: number
            Frequency:
              type: string
              enum:
              - DAILY
              - IMMEDIATE
              - WEEKLY
            SubscriptionName:
              type: string
    DateInterval:
      type: object
      required:
      - Start
      - End
      properties:
        Start:
          type: string
          description: Start of the time period in YYYY-MM-DD format
          example: '2026-01-01'
        End:
          type: string
          description: End of the time period in YYYY-MM-DD format
          example: '2026-04-01'
    CreateAnomalyMonitorResponse:
      type: object
      properties:
        MonitorArn:
          type: string
    GetAnomaliesResponse:
      type: object
      properties:
        Anomalies:
          type: array
          items:
            type: object
            properties:
              AnomalyId:
                type: string
              AnomalyStartDate:
                type: string
              AnomalyEndDate:
                type: string
              DimensionValue:
                type: string
              MonitorArn:
                type: string
              AnomalyScore:
                type: object
              Impact:
                type: object
              Feedback:
                type: string
        NextPageToken:
          type: string
    GetAnomaliesRequest:
      type: object
      required:
      - DateInterval
      properties:
        MonitorArn:
          type: string
        DateInterval:
          $ref: '#/components/schemas/DateInterval'
        Feedback:
          type: string
          enum:
          - true
          - false
          - PLANNED_ACTIVITY
        TotalImpact:
          type: object
        NextPageToken:
          type: string
        MaxResults:
          type: integer
    CreateAnomalyMonitorRequest:
      type: object
      required:
      - AnomalyMonitor
      properties:
        AnomalyMonitor:
          type: object
          required:
          - MonitorName
          - MonitorType
          properties:
            MonitorName:
              type: string
            MonitorType:
              type: string
              enum:
              - DIMENSIONAL
              - CUSTOM
            MonitorDimension:
              type: string
              enum:
              - SERVICE
            MonitorSpecification:
              $ref: '#/components/schemas/Expression'
        ResourceTags:
          type: array
          items:
            type: object
    CreateAnomalySubscriptionResponse:
      type: object
      properties:
        SubscriptionArn:
          type: string
  responses:
    LimitExceededException:
      description: You've exceeded the limit for this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
externalDocs:
  description: AWS Cost Explorer API Reference
  url: https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/
